{% extends 'accounts/main/base_auth.html' %}
{% block title %}Password Reset{% endblock %}
{% load static %}
{% block content %}

  <div class="container">
    <div class="auth-image-container">
      <img class="auth-img" src="{% static 'Custom/accounts/images/accounts_main/logo_1.PNG' %}" alt="home" />
    </div>

    <h2 class="custom-title-auth">Please check your inbox</h2>
    <div class="row">
      <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-3">
        <div class="main-inner-section">
        <h6 class="form-title">We've emailed you instructions for setting your password.</h6>
        <h6 class="form-title">You should receive the email shortly!</h6>
      </div>
    </div>
    </div>

  </div>

{% endblock content %}







