{% extends 'accounts/main/base_auth.html' %} {% block title %}Reset Password
{% endblock title %} {% load static %} {% block content %}
    
    <div class="main-auth-section">
      <div class="container">
        
        
        <div class="auth-image-container">
          <img
            class="auth-img"
            src="{% static 'Custom/accounts/images/accounts_main/logo_1.PNG' %}"
            alt="home"
          />
        </div>
    

        {% if validlink %}
    
        <h2 class="custom-title-auth">Enter new password</h2>
    
        <div class="row">
          <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-3">
            <form class="auth-form" method="POST">
              {% csrf_token %} {% if form.errors %}
              <ul>
                {% for key, error in form.errors.items %} {% if key == '__all__' %}
                <li class="error-text">{{ error }}</li>
                {% endif %} {% endfor %}
              </ul>
              {% endif %}
    
              <div class="mb-3">
                <div class="form-group mb-0">
                  <label class="form-label-auth">Old password</label>
                  <input
                    id="{% if form.new_password1.errors %}auth-forms-invalid{% else %}auth-forms{% endif %}"
                    type="password"
                    class="form-control"
                    name="old_password"
                    placeholder="Enter old password"
                    {%
                    if
                    filled_form_data.old_password
                    %}
                    value="{{ filled_form_data.old_password }}"
                    {%
                    endif
                    %}
                  />
                </div>
    
                {% if form.old_password.errors %}
                <ul>
                  {% for error in form.old_password.errors %}
                  <li class="error-text">{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
    
              <div class="mb-3">
                <div class="form-group mb-0">
                  <label class="form-label-auth">Enter new password</label>
                  <input
                    id="{% if form.new_password1.errors %}auth-forms-invalid{% else %}auth-forms{% endif %}"
                    type="password"
                    class="form-control"
                    name="new_password1"
                    placeholder="Enter Your Password"
                  />
                </div>
                {% if form.new_password1.errors %}
                <ul>
                  {% for error in form.new_password1.errors %}
                  <li class="error-text">{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
    

              <div class="mb-3">
                <div class="form-group mb-0">
                  <label class="form-label-auth">Confirm new password</label>
                  <input
                    id="{% if form.new_password2.errors %}auth-forms-invalid{% else %}auth-forms{% endif %}"
                    type="password"
                    class="form-control"
                    name="new_password2"
                    placeholder="Enter Your Password"
                  />
                </div>
                {% if form.new_password2.errors %}
                <ul>
                  {% for error in form.new_password2.errors %}
                  <li class="error-text">{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="com-btn text-center">
                <button type="submit">Change my password</button>
              </div>
    
            </form>
          </div>
        </div>
    
        {% else %}
        
        <h2 class="custom-title-auth">Sorry, an error occured!</h2>
        <div class="row">
          <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-3">
    
            <h6 class="form-title">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</h6>
    
          </div>
        </div>
       
        {% endif %}
  
      </div>
    </div>
    
    {% endblock content %} 
    
    









